@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './_colors.scss';

.joke-card {
  cursor: pointer;
  position: relative;
  min-width: 172px;
  height: 240px;
  background-color: $green;
  border: solid black 1px;
  border-radius: 16px;
  box-shadow: 4px 4px #888888;
  padding: 16px;
  .card-content {
    display: none;
  }
}

.active {
  cursor: pointer;
  min-width: 172px;
  height: 240px;
  background-color: white;
  border: solid black 1px;
  border-radius: 16px;
  box-shadow: 8px 8px 2px #888888;
  padding: 16px;
  text-align: center;
  .card-reverse-liked {
    display: none;
  }
  .card-content {
    display: inline-block;
  }
}

.card-reverse-liked {
  .hidden-smile- {
    display: none;
  }
  .hidden-smile-show {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }
  .hidden-frown- {
    display: none;
  }
  .hidden-frown-show {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }
}



.card-content {
  max-width: 400px;
  height: 100%;
  padding: 8px;
  margin: auto;
}

.card-text {
  height: 80%;
}

.joke-setup {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
}

.joke-punchline {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.like-buttons {
  display: flex;
  justify-content: space-between;
  height: 20%;
}
